<div class="col-10 offset-1 about">
  <h1>About Splurty<h1>

  <br class= "clear"/>

  <p class="about_paragraph"> 
    Splurty was built by <a target = "_blank" href= "https://longhoang.netlify.com/">Long H.</a>
  </p>
  <p class="about_paragraph">
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com">here</a>
  </p>

  <div class = "row">
    <div class = "col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class ="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Long Hoang</h2>

    <br />
    <p class="about_paragraph">
      Long is an aspiring creator and application developer. 
    </p>
  </div>
</div>

<br class= "clear" />

<br />
<br />
<br />
<br />

</div> 
